<!DOCTYPE html>
<html>
  <head>
  <title>Feed</title>
    <!-- Bootstrap -->
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  
  <div id="header"><div class ="heading">Tech Startup</div></div>
  
  <div id="container">
  <div id="left">
  <h2>People You Can Help</h2>
  <b>name@andrew.cmu.edu</b><br />
  I need help with 15-251!
  </div>
  
  <div id="right">
  <h2>People Who Can Help You</h2>
  <b>help@andrew.cmu.edu</b><br />
  I can help with 76-101!
  </div>
  </div>
  
  </body>
</html>