<!DOCTYPE html>
<html>
  <head>
  <title>Index</title>
   <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  
  <div id="header"><div class="heading">Tech Startup</div></div>
  
  <div id="container">
	<div id ="search">
		<h1>Help, I need a tutor for...</h1><br />
		<form action="searchstyled.php" method="post">
		<input type="text" name="term" placeholder="Search for subjects" value="" />
		<button class="glass" type="submit">Search</button>
		</form>
	</div>
  </div>
  </body>
</html>