<!DOCTYPE html>
<html>
  <head>
  <title>Bootstrap</title>
   <link href="css/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
  
  <div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Tech Startup</a>
		</div>
	</div>
  </div>
  
  <div class="container">
    <h1>Help, I need a tutor for...</h1>

        <form class="form-inline fprm-search" action="/search">
          <input class="span8" class="class-search" id="class_search" name="q" type="text" placeholder="Search for subjects" autocomplete="off" value="" />
          <button class="btn btn-inverse" id="class_submit" type="submit"><i class="icon-search icon-white"></i></button>
        </form>

  </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>