<!DOCTYPE html>
<html>
  <head>
  <title>Search</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  
  <div id="header"><div class ="heading">Tech Startup</div></div>
  
  <div id="container">
  <div id="single">
  <h2>What do you need help with?</h2>
  <form action="searchstyled.php" method="post">
		<input class="wider" type="text" name="term" placeholder="Search for subjects" value="" />
		<button class="glass" type="submit">Search</button>
		</form>
	
	<div class="tags">
	<ul class="search-tags">
	<li><a href="#">programming</a></li>
	<li><a href="#">ruby</a></li>
	<li><a href="#">15-110</a></li>
	</ul>
	</div>
	
	<h2>Here are some people who can help you:</h2>
	
	<div class="post">
  <b>programmer@andrew.cmu.edu</b><br />
  I can help with all CS programming courses up to 15-410.
  </div>
  
  <div class="post">
  <b>assist@andrew.cmu.edu</b><br />
  I am a TA for 15-110 and 15-112.
  </div>
  
  </div>
  </div>
  
  </body>
</html>