<!DOCTYPE html>
<html>
  <head>
  <title>Bootstrap</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
  
  <div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Tech Startup</a>
		</div>
	</div>
  </div>
  
  <div class="container">
    <div class="row">
	<div class="span12">
	<h1>I need help with:</h1>
	<form class="form-inline fprm-search" action="/search">
          <input class="span10" class="class-search" id="class_search" name="q" type="text" placeholder="Search for subjects..." autocomplete="off" value="" />
          <button class="btn btn-inverse" id="class_submit" type="submit"><i class="icon-search icon-white"></i></button>
        </form>
	
	</div>
	</div>
	
	<div class="row">
	<div class="span12">
	<h2>People who have the knowledge required to help you:</h2>
	<strong>mellon@cmu.edu</strong>
	<p>I can help with all programming courses up to 15-410.</p>
	</div>
	</div>
  </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>