<!DOCTYPE html>
<html>
  <head>
  <title>Feed</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  
  <div id="header"><div class ="heading">Tech Startup</div></div>
  
  <div id="container">
  <div id="left">
  <h2>People You Can Help</h2>
 
  <div class="post">
  <b>name@andrew.cmu.edu</b><br />
  I need help with 15-251!
  </div>
  
  <div class="post">
  <b>id@andrew.cmu.edu</b><br />
  I need help with my global history paper.
  </div>
  
  <div class="post">
  <b>yinzer@andrew.cmu.edu</b><br />
  I need help studying for 15-110.
  </div>
  
  </div>
  
  <div id="right">
  <h2>People Who Can Help You</h2>
  
  <div class="post">
  <b>help@andrew.cmu.edu</b><br />
  I can help with 76-101!
  </div>
  
  <div class="post">
  <b>assist@andrew.cmu.edu</b><br />
  I can help with with all levels of calculus.
  </div>
  </div>
  </div>
  
  </body>
</html>