<!DOCTYPE html>
<html>
  <head>
  <title>{% block title %} THE TITLE {% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet">
  </head>

  <body>
  
  <div id="header">
    <div class ="heading">startup name</div>
    <div>
        {% if user.is_authenticated %}
            Signed in as: {{ user.username }}
            <a href="/signout">Sign out</a>
        {% else %}
            <a href="/signin">Sign in</a>
        {% endif %}
    </div>
  </div>
  
  <div id="container">
    {% block content %}
    {% endblock %} 
  </div>
  
  </body>
</html>
