{% extends "base.html" %}

{% block title %}Question Feed{% endblock %}

{% block styles %}
    <link href="/static/feed.css" rel="stylesheet" type="text/css">
    <link href="/static/filters.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
    <link href="/static/bid_template.tmpl" rel="template" id="bid_template"></script>
    <script src="/static/bid.js" type="text/javascript"></script>
    <script src="/static/bidresults.js" type="text/javascript"></script>
    <script src="/static/feed.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div id="search">
    <form action="" method="post">
        <input class="searchbar" id="searchtags" type="text" placeholder="Search for tags.."/>
    </form>

</div>
<div id="feed">
    
</div>

{% endblock %}
