{% extends "base.html" %}

{% block title %} Browse Help Requests {% endblock %}

{% block content %}

<div id="search_container">
    search text: <input type="text" id="searchtext"> </input> <br />
    tags: <input type="text" id="searchtags"> </input> <br />
    <button id="search">search</button> <br />
    more filters will go here 
</div>
<br/><br/>


<div id="feed_container">

</div>


<script type="text/template" id="bid_template">
    title: <%= title %> <br/ >
    expire time: <%= expiretime %> <br />
    tags: <%= tags %> <br />
    <div id="more_<%= id %>" class="hidden">
        <input type="textarea" name="response" data-bidid="<%= id %>"></input>
        <button class="add_response" data-bidid="<%= id %>">add response</button>
    </div>
    <a onclick="expand_bid(<%= id %>);"> expand </a>
</script>


<script type="text/javascript" src="/static/feed.js"></script>
<script type-"text/javascript">
    function expand_bid(id) {
        $('#more_' + id).toggle('hidden');
    };
</script>


{% endblock %}
