{% extends "base.html" %}

{% block title %}Question by {{ user.username }}{% endblock %}

{% block styles %}
    <link href="/static/feed.css" rel="stylesheet" type="text/css">
    <link href="/static/filters.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
    <script src="/static/bidresults.js"></script>
    <script src="/static/bid.js"></script>
    <script src="/static/ownbid.js"></script>
    <div id="bidID" data-id="{{ bidID }}" class="hidden"></div>
{% endblock %}

{% block content %}

<script type="text/template" id="bid_template">
    <div id="<%= id %>" class="post <%= color %>">
        <div class="info <%= color %> small">
            <img src="/static/credit.png" class="user" />
            <div class="credits">
                <%= amount %> Credits
            </div>
        </div>
        <div class="small classlabel"> <%= title %> </div>
        <%= description %>

        <div class="time"><%= expire_time_text %></div>
    </div>
    <div class="small tags <%= color %>">
        <%= tagstring %>
    </div>
</script>
Your question: </br> 
<div id="feed">
    
<div id="interaction">

</div>


{% endblock %}
