{% extends "base.html" %}

{% block title %} Ask for help. {% endblock %}

{% block scripts %}
    <script src="/static/post.js" type="text/javascript"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/feed.css" type="text/css"> 
    <link rel="stylesheet" href="/static/post.css" type="text/css"> 
{% endblock %}

{% block content %}
<h1>Ask a question</h1>
<div class="question blue">
    <form action="" method="post">
        {% csrf_token %}

        > I'm offering <input type="text" class="underline_entry credits" name="initialOffer">
        credits  <span class="parenthetical">(you have {{ user.profile.credits }})</span>
        for help before <input type="text" class="underline_entry date" name="expiretime">
    
        </br>

        What do you need? <input type="text" class="underline_entry title" name="title">

        <br/> Explain in more detail: <br/>
        <textarea class="details" name="description"></textarea>

        <br/> Tag it:
        <input type="hidden" id="tags" name="tags" class="question-tags"></input>

        <br/>
        <label id="errors"></label> 
        
        <button class="right flatbutton">Ask!</button>
        <br/>
    </form>
</div>


<script src="/static/post.js" type="text/javascript"></script>

{% endblock %}
