{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block styles %}
    <link href="/static/splash.css" rel="stylesheet" type="text/css">
    <link href="/static/feed.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
{% endblock %}
 
{% block content %} 
    <div id="feed">
        <div class="pitch green">

            <div class="splash">HelpSwap.net</div>

            Tap into the collective power of the CMU student body by putting up bounties for academic help.  Register and we'll send you an email when we're ready to go.
 
            <div class="screencontainer">
                <img src="/static/screenshot.png" alt="" class="screenshot" />
            </div>
           
        </div>
    </div><!-- close feed -->
</div><!-- close question -->

{% endblock %}
