{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block styles %}
    <link href="static/splash.css" rel="stylesheet" type="text/css">
    <link href="static/feed.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
{% endblock %}
 
{% block content %} 
    <div id="feed">
        <div class="pitch green">

            <div class="splash">HelpSwap.net</div>

            Tap into the collective power of the CMU student body by putting up bounties for academic help.
            
            Sign up for a beta invite:

            <form action="" method="post">
                <input class="email_input" type="text" placeholder="" name="email" />
                <input type="submit" class="flatbutton gray" />
            </form>
            <br/> 
            {% if complete %}
                Thanks! You'll get an email when we're ready.
            {% endif %} 
 
            <div class="screencontainer">
                <img src="static/screenshot.jpg" alt="" class="screenshot" />
            </div>
           
        </div>
    </div><!-- close feed -->
</div><!-- close question -->

{% endblock %}
